<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    
    <title>Dashboard</title>
</head>
<body>
    <div>
        <div class="leftbox">
            <div style="height: 40vh; background-color:  #FF6D33; align-items: center;">
                <img class="dash_img" src="../img/avatar.png">
                <div style="text-align: center; color: white;">
                <h2>Name:Akhilesh</h2>
                <h3>Roll NO.:B18CS012</h3>
                </div>
            </div>
            <div class="rightcontent">
                <div style="padding-top:2vh; ">
                <a href="#" style="text-decoration: none; color: white;"><h3>DashBoard</h3></a>
                </div>
                <div style="padding-top:1vh;">
                <a href="#" style="text-decoration: none; color: white;"><h3>Activities</h3></a>
                </div>
                <div style="padding-top:1vh;">
                <a href="#" style="text-decoration: none; color: white;"><h3>ReportCard</h3></a>
                </div>
                <div style="padding-top:1vh;">
                <a href="#" style="text-decoration: none; color: white;"><h3>curriculum</h3></a>
                </div>   
            </div>
        </div>
        <div class="rightbox">
       
        </div>
    </div>
</body>
    <script src="/js/mainFunctions.js"></script>
</html>