@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

.profile {
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    display: flex;
    flex-direction: column;
}

.card {
    transition: 0.3s all;
    border-radius: 3px;
    background-color: #FF6D33;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 340px;
}

.card .avatar img {
    border-radius: 50%;
    border: 4px solid #33C5FF;
}

.card .title {
    font-size: 26px;
    margin-top: 18px;
    color: #f4f4f4;
}

.card .description {
    font-size: 17px;
    margin-top: 18px;
    color: #c1c1c1;
}

.card .social ul {
    margin-top: 22px;
    list-style-type: none;
}

.card .social ul li {
    display: inline;
    font-size: 22px;
    cursor: pointer;
    color: #17a589;
}
