@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.navbar {
    margin: 0;
    padding: 0;
    padding-top: 100px;
    width: 340px;
    text-align: center;
}

.navbar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #33C5FF;
}

.navbar ul li {
    padding: 10px;
}

.navbar ul li a {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    display: block;
    color: #ccc;
    padding: 8px 16px;
    text-decoration: none;
}

.navbar ul li a.active {
    color: #fff;
}

.navbar ul li a:hover {
    color: #fff;
}