{% extends 'index.html' %}
{% load static %}
{% load filters %}
{% block content %}
        <div class="d-flex flex-row mainCard p-0">
            <div class="col-3 d-flex flex-column jusify-content-center align-items-center" style="border-left: 2px solid black; background-color: #EF3B3A;">
                
                     <!-- <div class="d-flex flex-column justify-content-center align-text-center profile"> -->
                         
                        <div class="m-5 d-flex align-items-center" style="border-radius:50%;background-color: black; ;height: 35.15649867374005vh;width: 17.476041666666668vw;"><img src="{% static '/media/alokSir.jfif' %}" alt="" class="ml-2" style="border-radius: 50%;height: 33.15649867374005vh;width: 16.276041666666668vw; position: inherit;"></div>
                         
                         
                         
                        <div class="mt-2">
                          <center class="profileText m-3 " style="font-family: 'Montserrat', sans-serif; font-size: 1.875rem;"><h4>{{ faculty.name }}</h4></center>
                          <center class="profileText m-3" style="font-family: 'Montserrat', sans-serif; font-size: 1.59rem;"><h4>{{ faculty.subjectName }} ({{ faculty.subjectCode }})</h4></center>
                        </div>
                     <!-- </div> -->
                     <!-- <div class="d-flex flex-column justify-content-center align-text-center d-block menu">
                            <p class="menuText p-2"><a href="{% url 'dashboard' %}">DashBoard</a></p>
                            <p class="menuText p-2"><a href="#">Activities</a></p>
                            <p class="menuText p-2"><a href="{% url 'reportCard' usersub='abc' %}">Report Card</a></p>
                            <p class="menuText p-2"><a href="#">curriculum</a></p>
                     </div> -->
                
            </div>
            <div class="col p-0 leftcard ">
                
                <div class=" ml-0 d-block d-flex flex-row justify-content-between p-1 headBar">
                        <div class=" topBar">Dashboard</div>
                        <div class=" topBar">
                            <a href="" class="href"><img src="{% static '/media/Vector.png' %}" alt=" " class="pb-2 pr-2 topBarImg"></a>
                            <a href=""><img src="{% static '/media/carbon_settings.png' %}" alt="" class="pb-2 pl-2 topBarImg"></a>
                        </div>
                </div>
                <div class="d-flex flex-column d-block justify-content-between align-items-center cards">
                        <div class="m-4 progressCard">
                            
                            <form id="formAddNew" action="{%url 'facultydashboard' %}" method="POST" style="display: none;">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-6 mb-3 p-1">
                                        <label for="validationDefault02" class="p-1">Enrollement Number</label>
                                        <input type="text" class="form-control" id="validationDefault02" placeholder="Enrollement Number" value="b76" name="rol" required>
                                    </div>
                                    <div class="col-md-6 mb-3 p-1">
                                        <label for="validationDefault02" class="p-1">Subject Code</label>
                                        <input type="text" class="form-control" id="validationDefault02" placeholder="CSXXX" value="" name="subCode" required>
                                    </div>
                                
                                </div>
                                <div class="form-row">
                                  <div class="col-md-4 mb-3 p-1">
                                    <label for="validationDefault01" class="p-1">Assignment1</label>
                                    <input type="text" class="form-control" id="validationDefault01" placeholder="Assignment1" value="" name="a1" required>
                                  </div>
                                  <div class="col-md-4 mb-3 p-1">
                                    <label for="validationDefault02" class="p-1">Class test1</label>
                                    <input type="text" class="form-control" id="validationDefault02" placeholder="Marks obtained in class test " value="" name="c1" required>
                                  </div>
                                  <div class="col-md-4 mb-3 p-1" >
                                    <label for="validationDefault02" class="p-1">Mid Term</label>
                                    <input type="text" class="form-control" id="validationDefault02" placeholder="Marks Obtained in Mid term " value="" name="mt" required>
                                  </div>
                                 
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3 p-1">
                                        <label for="validationDefault02" class="p-1">Assignment2</label>
                                        <input type="text" class="form-control" id="validationDefault02" placeholder="Assignment2" value="" name="a2" required>
                                    </div>
                                    <div class="col-md-4 mb-3 p-1" >
                                        <label for="validationDefault02" class="p-1">Class Test2</label>
                                        <input type="text" class="form-control" id="validationDefault02" placeholder="Class Test2" value="" name="c2" required>
                                    </div>
                                    <div class="col-md-4 mb-3 p-1">
                                        <label for="validationDefault02" class="p-1">EndTerm</label>
                                        <input type="text" class="form-control" id="validationDefault02" placeholder="End Term" value="" name="et" required>
                                    </div>
                                </div>
                              
                                <center><button class="btn btn-primary btn-block" type="submit">Save</button></center>
                            </form>
                            
                        </div>
                        <button id="addNew" class="btn btn-primary">add new element</button>

                     
<script>
$(document).ready(function(){
  $("#addNew").click(function(){
    $("#formAddNew").css("display", "block");
  });
});
</script>
                        <div class="col-11 m-4 progressCard">
                            <table class="table table-striped table-hover">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">Roll No.</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Assignment1</th>
                                    <th scope="col">Assignment2</th>
                                    <th scope="col">Class Test 1</th>
                                    <th scope="col">ClassTest2</th>
                                    <th scope="col">MidTerm</th>
                                    <th scope="col">EndTerm</th>
                                    <th scope="col">Total</th>
                                  </tr>
                                </thead>
                                <tbody>
                                 {% for data in allStudent %}
                                 <tr>
                                  <th scope="row">{{ data.rollNo }}</th>
                                  <td>{{ data.name }}</td>
                                  <td>{{ data.assignment1 }}</td>
                                  <td>{{ data.assignment2 }}</td>
                                  <td>{{ data.classtest1 }}</td>
                                  <td>{{ data.classtest2 }}</td>
                                  <td>{{ data.midTerm }}</td>
                                  <td>{{ data.endTerm }}</td>
                                  <td>{{ data.total }}</td>
                                </tr>
                                 {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    


         <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
         <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
         <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

{% endblock %}

