<!DOCTYPE HTML>
<html lang="en" >
<html>
	<head>
		<title>Grade Sheet</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="../css/gradesheet.css">
		
		<style>
			table.table-bordered{
				border:1px solid black;
				margin-top:20px;
			}
			table.table-bordered > thead > tr > th{
				border:1px solid black;
			}
			table.table-bordered > tbody > tr > td{
				border:1px solid black;
			}
			table.table-bordered > tbody > tr > th{
				border:1px solid black;
			}
		</style>
	</head>
	<body>
		
			<div class="w-75 pt-5 pl-5 pr-5 m-1 mx-auto" style="background:lightblue; padding-bottom: 250px;">
				
					<div class="text-center font-weight-bold">
						<h3>NATIONAL INSTITUTE OF TECHNOLOGY MEGHALAYA </h3>
						<h4><small>Bijni Complex, Laitumkhrah, Shillong-793003 (India)<br>
						SEMESTER GRADE REPORT</small></h4>
						<hr style="border-top: 1.5px solid black;">
					</div>
					
					<div class="row pt-4">
						<div class="col-sm-9">
							<h5>No. NITM/2020/01/0387</h5>
						</div>
						<div class="col-sm-3">
							<h5>Date: 07/05/2021</h5>
						</div>
					</div>
					
					<div class="text-center font-weight-bold text-uppercase pt-4">
						Programme: Bachelor of TECHNOLOGY<br>
						Discipline: Computer Science and Engineering
					</div>
					
					<div class="row pt-4">
						<div class="col-sm-3 font-weight-bold">
							Name
							<br>Roll No
							<br>Semester
							<br>Period
						</div>
						<div class="col-sm-3">
							:&emsp;Sushmita Paul
							<br>:&emsp;B18CS007
							<br>:&emsp;IV
							<br>:&emsp;Jan-May 2020
						</div>
					</div>
					
					<div class="pt-4">
					<table class="table table-bordered" style="border-color: black;">
						<thead>
							<tr>
    							<th scope="col">COURSE NO.</th>
    							<th scope="col">COURSE NAME</th>
    							<th scope="col" class="text-center">L</th>
								<th scope="col" class="text-center">T</th>
								<th scope="col" class="text-center">P</th>
								<th scope="col" class="text-center">CR</th>
    							<th scope="col" class="text-center">GRADE</th>
    						</tr>
						</thead>
						
						<tbody>
    						<tr>
    							<td class="text-center">CS 302</td>
								<td>Software Engineering</td>
								<td class="text-center">4</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">4</td>
								<td class="text-center">AA</td>
    						</tr>
    						<tr>
    							<td class="text-center">CS 304</td>
    							<td>Compiler Design</td>
								<td class="text-center">4</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">4</td>
								<td class="text-center">AA</td>
    						</tr>
							<tr>
								<td class="text-center">CS 312</td>
    							<td>Computer Graphics</td>
    							<td class="text-center">3</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">3</td>
								<td class="text-center">AA</td>
								
    						</tr>
							<tr>
    							<td colspan="2" class="text-center font-weight-bold">REGISTERED CREDITS</td>
    							<td colspan="5" class="text-center font-weight-bold">22</td>
    						</tr>
						</tbody>
					</table>
					</div>
					
					<div class="pt-4 pb-4">
					<h5>Remarks:</h5>
					<table class="table table-bordered" style="border-color: black;">
						<thead>
							<tr>
    							<th scope="col" colspan="3" class="text-center">CURRENT SEMESTER PERFORMANCE</th>
    							<th scope="col" colspan="3" class="text-center">CUMULATIVE PERFORMANCE</th>
    						</tr>
						</thead>
						
						<tbody>
    						<tr>
    							<th class="text-center">Earned credits</th>
								<th class="text-center">Earned Grade points</th>
								<th class="text-center">SGPA</th>
								<th class="text-center">Earned credits</th>
								<th class="text-center">Earned Grade points</th>
								<th class="text-center">CGPA</th>
    						</tr>
    						<tr>
								<td class="text-center">22</td>
								<td class="text-center">218</td>
								<td class="text-center">9.91</td>
								<td class="text-center">83</td>
								<td class="text-center">781</td>
								<td class="text-center">9.41</td>
    						</tr>
						</tbody>
					</table>
					</div>
					
					<div class="row pt-5 pd-5 font-weight-bold">
						<div class="col-sm-8">
							Checked by<br>B. B. L.
						</div>
						<div class="col-sm-4">
							ASSISTANT REGISTRAR (ACADEMIC)
						</div>
					</div>
					
				
			</div>
		
		
		
	</body>
	
</html>