{% extends 'index.html' %}
{% load static %}
{% block content %}
        <div class="d-flex flex-row mainCard p-0">
            <div class=" col-3  rightCard ml-0 p-0">
                <div class="  d-flex flex-column justify-content-center align-text-center right">
                     <div class="d-flex flex-column justify-content-center align-text-center profile">
                         
                         <img src="{% static '/media/Avtaar1.jpg' %}" alt="" class="pt-2 profileImg">
                         
                         <div class="mt-3">
                            <center class="profileText mt-1 pb-0">{{ data.name }}</center>
                            <center class="profileText mt-0 pt-0">{{ data.roll_no }}</center>
                          </div>
                     </div>
                     <div class="d-flex flex-column justify-content-center align-text-center d-block menu">
                            <p class="menuText p-2"><a href="{% url 'dashboard' %}">DashBoard</a></p>
    
                            <p class="menuText p-2"><a href="{% url 'reportCard' usersub='abc' %}">Report Card</a></p>
                            
                     </div>
                </div>
            </div>
            <div class="col p-0 leftcard ">
                
                <div class=" ml-0 d-block d-flex flex-row justify-content-between p-1 headBar">
                        <div class=" topBar"><a href="{% url 'dashboard' %}">Dashboard</a></div>
                        <div class=" topBar">
                            <a href="" class="href"><img src="{% static '/media/Vector.png' %}" alt=" " class="pb-2 pr-2 topBarImg"></a>
                            <a href=""><img src="{% static '/media/carbon_settings.png' %}" alt="" class="pb-2 pl-2 topBarImg"></a>
                        </div>
                </div>
                <div class="d-flex flex-column d-block justify-content-between align-items-center cards">
                        <div class="m-4 progressCard">
                            <div class="progress1 ">
                                <div class="p-4" style="font-size: 1.5rem; color: black;">Credits Earned</div>
                                <div class="d-flex flex-row align-items-center justify-content-center">
                                    <div class="set-size charts-container">
                                        <div class="pie-wrapper ">
                                           <span class="label">{{ totalmarks }}</span>
                                            <div class="pie">
                                                 <div class="left-side half-circle"></div>
                                                 <div class="right-side half-circle"></div>
                                            </div>
                                            <div class="shadow"></div>
                                        </div>
                                      
                                    </div>
                                </div>
                                
                            </div>
                            <div class="progressGap"></div>
                            <div class="progress1 ">
                                <div class="p-4" style="font-size: 1.5rem; color: black;"> CGPA</div>
                                <div class="d-flex flex-row align-items-center justify-content-center">
                                    <div class="set-size charts-container">
                                        <div class="pie-wrapper  style-2">
                                           <span class="label">{{ cgpa }}</span>
                                            <div class="pie">
                                                 <div class="left-side half-circle"></div>
                                                 <div class="right-side half-circle"></div>
                                            </div>
                                            <div class="shadow"></div>
                                        </div>
                                      
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="graphs align-items-center">
                            <div id="chartContainer" style="height: 50vh; width: 100%;">
                                <div class="box flex-wrap" >
                                    <canvas id="lineChart" style="height: 40vh; width: 100%; position:relative;"></canvas>
                                  </div>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
                            <script language="JavaScript">
                                window.onload=function() {
                                  var data = {
                                      labels: ["sem1", "sem2", "sem3", "sem4", "sem5", "sem6", "sem7", "sem8"],
                                      datasets: [
                                       
                                          {
                                              label: "My Second dataset",
                                              fillColor: "transparent",
                                              strokeColor: "#FF6D33",
                                              pointColor: "#FF6D33",
                                              pointStrokeColor: "mediumseagreen",
                                              pointHighlightFill: "#fff",
                                              pointHighlightStroke: "mediumseagreen",
                                             
                                              data: {{ semdata|safe }}
                                            
                                          }
                                      ]
                                  };
                                  var ctx = document.getElementById("lineChart").getContext("2d");
                                  var options = { };
                                  var lineChart = new Chart(ctx).Line(data, options);
                                }
                                </script>
                                
                                </div>
                        </div>
                </div>
            </div>
        </div>
    


         <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
         <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
         <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

{% endblock %}