<!DOCTYPE HTML>
<html lang="en" >
<html>
<head>
	<title>Sign Up</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta charset="utf-8">
  	<link rel="stylesheet" href="../css/login_signup.css">
</head>

<body class="body">
	<div class="login-page">
  		<div class="form">
    			<form>
      				<h1>ADMIN/FACULTY SIGN UP</h1>
	  			<img src="../img/signup_avatar.gif" style="justify-content: center; width: 70%;">
	  			<input type="text" placeholder="Full name"/>
      				<input type="text" placeholder="Institute e-mail address"/>
      				<input type="text" placeholder="Pick a username"/>
      				<input type="password" placeholder="Set a password"/>
      
    			</form>

    			<form class="login-form">
      				<button type="button" onclick="window.location.href='login.html'">SIGN UP</button>
    			</form>
  		</div>
	</div>
</body>
</html>
